.page-header
  %h1
    Team
    .pull-right
      = link_to raw(t('edit')), [:edit, team], :class => 'btn btn-primary'
      = link_to raw(t('back',to: "Teams")), teams_path, :class => 'btn btn-default'
%dl
  %dt Name:
  %dd= team.name

