.page-header
  %h1
    Edit Message
    .pull-right
      = link_to 'Show', message, class: 'btn btn-default'
      = link_to t('back',to: "Messages").html_safe, messages_path, class: 'btn btn-default'
= render 'form'


